body{
    background:url("https://cdn2.vectorstock.com/i/1000x1000/73/31/red-background-texture-vector-11257331.jpg");
    text-align: center;
    }
h2{font-family: 'Mali', cursive;
    }
h1{font-family: 'Anton', sans-serif;
    }
li{font-family: 'Permanent Marker', cursive;
    }
p{font-family: 'Playfair Display SC', serif;
    }    
ul{list-style:none;
    }
h1:hover{color:Blue;
    }